/*Page backround & centering*/
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(160deg, #dfe4f2 0%, #c5d2f1 100%);
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
}

/*Base style for all buttons*/
button {
  font-size: 1.2rem;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: hsl(257, 7%, 79%);
}

/* Error message styling */
.error {
  color: #c92a2a;
  font-size: 16px;
  margin-top: 8px;
  text-align: left;
}

h2 {
  margin-top: 0px;
  font-size: 40px;
  text-align: center;
  color: black;
}
